.k-tab-base-modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .k-tab-base-modal {
        padding-bottom: 0;
        border-radius: var(--border-radius-base);
        top: 0px;
        height: 600px;
        resize: both;
        
        &-fullpage {
            width: 100%!important;
            height: 100%!important;
            left: 0!important;
            top: 0!important;
            right: 0!important;
            bottom: 0!important;
            margin: 0!important;
            max-width: 100%!important;
            background-color: var(--background-color);

            .ant-modal-content {
                width: 100%!important;
            }
        }

        .react-draggable {
            width: 100%;
            height: 100%;
        }
    
        .ant-modal-content {
            height: 100%!important;
            background-color: var(--background-color);
    
            .ant-modal-body {
                background-color: var(--background-color);
            }
        }
    
        &-operation {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
    
            .icon-wrapper {
                display: inline-block;
                width: 40px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                color: #333;
    
                .anticon {
                    font-size: 18px;
                    vertical-align: middle;
                }
    
                &:hover {
                    background-color: #a2a2a2;
                }
    
                &.close-icon-wrapper {
                    &:hover {
                        background-color: var(--error-color);
                        color: #fff;
                    }
                }
            }
        }

        .col-resize {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            cursor: col-resize;

            &.left-resize {
                left: 0;
            }
            &.right-resize {
                right: 0;
            }
        }

        .row-resize {
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            cursor: row-resize;

            &.top-resize {
                top: 0;
            }
            &.bottom-resize {
                bottom: 0;
            }
        }
    }
}
